<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Music App</h1>
      <nav>
        <% if logged_in? %>
          <p>Logged in as <%= current_user.email %></p>
          <div>
            <form action="<%= session_url %>" method="post">
              <input
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Logout">
            </form>
          </div>
        <% else %>
          <div>
            <a href="<%= new_session_url %>">Sign In</a>
            <a href="<%= new_user_url %>">Sing Up</a>
          </div>
        <% end %>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
